/* nav .navbar:hover {
    background-color: black;
    color: white;
    transition: 1s;
} */

body{ 
    background-image: url(./assets/istockphoto-1472950710-612x612.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}